:root {
  --primary-brand: #4d5ae5; /*focus, active*/
  --pressed-state: #404bbf; /*hover?*/
  --dark: #2e2f42; /*shadows, heading, hero bg*/
  --success: #31d0aa; /*valid, hover on icons*/
  --main-text-color: #434455; /*headers*/
  --secondary-text-color: #8e8f99; /*subtle text*/
  --accent: #e7e9fc; /*bg on cards or border*/
  --accent-bg-color: #f4f4fd; /*another bg color*/
  --modal-overlay: #abacb3; /*unused?*/
  --hero-img--bg: #6d6e7b; /*unused*/
  --white: #fff;
  --modal-bg: #fcfcfc; /*unused*/
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
  line-height: 1.5;
  background-color: var(--white);
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  /* width: 320px; */
  margin: 0 auto;
  padding: 0 16px;
}

/* @media screen and(min-width: 768px) {
  .container {
    width: 768px;
  }
} */

@media screen and (min-width: 1158px) {
  .container {
    padding: 0 120px;
  }
} 

/*---Header & nav---*/

.header {
  border-bottom: 1px solid var(--accent);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 768px) {
  .header .container {
    margin: auto;
    position: static;
  }
}

.mobile-menu-btn-open {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn-open {
    display: none;
  }
}

.mobile-menu-btn-icon {
  transition: fill 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-btn-open:hover .mobile-menu-btn-icon,
.mobile-menu-btn-open:focus .mobile-menu-btn-icon {
  fill: var(--primary-brand);
}

.nav,
.address {
  display: flex;
  align-items: center;
}

/* .nav-container {
  padding: 24px 0;
} */

.nav-container,
.address-container {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-container,
  .address-container {
    display: flex;
    gap: 40px;
  }
}

.nav-link {
  display: block;
}

.nav-link {
  padding: 24px 0;
}

@media screen and (min-width: 768px) and (max-width: 1158px) {
  .address-container {
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
  }
}

.header-logo,
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--primary-brand);
  padding: 16px 0;
}

@media screen and (min-width: 768px) {
  .header-logo {
    padding: 0;
    margin-right: 120px;
  }
}

/*    margin-right: 76px;*/

.header-logo .span {
  color: var(--dark);
}
.footer-logo .span {
  color: var(--accent-bg-color);
}

.nav-link {
  font-weight: 500;
  color: var(--dark);
  text-transform: capitalize;
  letter-spacing: 0.02em;
  transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state);
}

.active {
  color: var(--pressed-state);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.nav-link.active::after {
  position: absolute;
  content: '';
  display: block;
  border-radius: 2px;
  background: #404bbf;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
}

.address {
  font-style: normal;
}

.address-link {
  color: var(--main-text-color);
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--pressed-state);
}

/*---Hero---*/

.hero {
  background-color: var(--dark);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  padding: 72px 0;
  margin: 0 auto;
  /* min-height: 432px; */
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    padding: 180px 0;
  }
}

@media screen and (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-2x.jpg);
  }
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-height: 768px) {
  .hero .container {
    /* min-height: 436px; */
    height: 100%;
  }
}

.hero-header {
  color: var(--white);
  text-align: center;
  font-weight: 700;
  /* font-style: Bold; */
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 216px;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .hero-header {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 48px;
  }
}

.hero-btn,
.modal-form-submit {
  background-color: var(--primary-brand);
  color: var(--white);
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-state);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--pressed-state);
}

/*---Values section---*/

.values {
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .values {
    padding: 120px 0;
  }
}

.values-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 72px;
}

.values-content {
  width: calc((100% - 32px));
}

@media screen and (min-width: 768px) {
  .values-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
  }

  .values-content {
    width: calc((100% - 72px) / 2);
  }
}



.values-icons-container {
  display: none;
}

@media screen and (min-width: 1158px) {
  .values-content {
    width: calc((100% - 72px) / 4);
  }

  .values-icons-container {
    display: block;
    background-color: var(--accent-bg-color);
    border-radius: 4px;
    border: 1px var(--secondary-text-color) solid;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
  }
}

.values-icons {
  text-align: center;
  /* width: 100%; */
  padding: 24px 100px;
  width: 264px;
  height: 112px;
}

.values-header,
.team-member-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .values-header,
  .portfolio-card-header {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .values-header,
  .portfolio-card-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
}

.values-text {
  font-weight: 500;
}

@media screen and (min-width: 1158px) {
  .values-text {
    font-weight: 400;
  }
}

/*---Team section---*/

.team-header,
.portfolio-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark);
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.team {
  background-color: var(--accent-bg-color);
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }
}

.team-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 32px; */
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .team-container {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .team-container {
    /* flex-direction: row; */
    /* padding-bottom: 32px; */
    gap: 24px;
  }
}

.team-member-card {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white);
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
  overflow: hidden;
  /* width: calc((100% - 24px * 2) / 3) */
}

.team-member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-member-card img {
  object-fit: fill;
}

.team-member-info {
  text-align: center;
  padding: 32px 0px;
}

.team-member-links,
.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 24px;
}

.team-member-position {
  padding-bottom: 8px;
}

.team-member-link-container,
.footer-link-container {
  width: 40px;
  height: 40px;
  fill: var(--accent-bg-color);
}

.team-member-link:hover {
  background-color: var(--pressed-state);
}
.team-member-link:focus {
  background-color: var(--pressed-state);
}

.footer-link:hover {
  background-color: var(--success);
}

.footer-link:focus {
  background-color: var(--success);
}

.team-member-link,
.footer-link {
  /* margin: 0;
  padding: 0;
  width: 16px;
  height: 16px; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*---Portfolio section---*/

.portfolio {
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  gap: 48px;
}

@media screen and (min-width: 768px) {
  .portfolio-container {
    /* display: flex; */
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* align-items: center; */
    column-gap: 24px;
    row-gap: 48px;
  }
}

.portfolio-text-content {
  border: 1px solid var(--accent);
  border-top: none;
  padding: 32px 16px;
  /* transition: box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1); */
}

.portfolio-card {
  max-width: calc(100% - 32px);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .portfolio-card {
    max-width: calc((100% - 32px) / 2);
  }
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-card-header {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: start;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 8px;
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.overlay {
  background-color: #4d5ae5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  color: #f4f4fd;
  padding: 40px 32px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .overlay,
.portfolio-card:focus .overlay {
  transform: translateY(0%);
}

/*---Footer---*/

.footer {
  background-color: var(--dark);
  padding: 96px 0;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 100px 0;
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
  /* gap: 120px; */
}

@media screen and (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: baseline;
    margin-left: 108px;
    row-gap: 72px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
    .footer-content {
    /* flex-direction: row; */
    flex-wrap:nowrap;
    margin: auto;
    /* justify-content: start;
    align-items: baseline; */
  }
}
 
.footer-main-info {
  margin: 0;
}

/* @media screen and (min-width: 768px) {
  .footer-main-info {
    margin-right: 16px;
  }
} */

@media screen and (min-width: 1158px) {
  .footer-main-info {
    margin-right: 120px;
  }
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  align-self: center;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-logo {
    width: auto;
    text-align: start;
  }
}

.footer-text {
  color: var(--accent-bg-color);
  max-width: 264px;
}

.footer-links-text,
.footer-form-text {
  color: var(--white);
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-links-text,
  .footer-form-text {
    text-align: start;
  }
}

.footer-links {
  display: flex;
  gap: 16px;
}

.footer-form-container {
  margin: 0;
}

.footer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .footer-form-container {
    margin-left: 0;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
    .footer-form-container {
    margin-left: 80px;
  }
}

.footer-form-input {
  background-color: transparent;
  /* padding: 8px 16px; */
  padding-left: 16px;
  /* margin-right: 24px; */
  border: 1px solid var(--white);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 264px;
  height: 40px;
  color: var(--white);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-form-input::placeholder {
  color: var(--white);
  vertical-align: middle;
}

.footer-form-btn {
  max-width: 165px;
  height: 40px;

  background-color: var(--primary-brand);
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .footer-form-btn {
    min-width: 165px;
  }
}

.footer-form-btn:hover {
  background-color: var(--success);
}

.footer-form-btn:focus {
  background-color: var(--success);
}

.footer-btn-icon {
  margin-left: 16px;
}
/*---Modal---*/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  /* z-index: 999; */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  /* z-index: 999; */
}

.modal {
  position: absolute;
  top: 50%; /**/
  left: 50%; /**/

  min-width: 288px;
  min-height: 623px;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;

  transform: translate(-50%, -50%);

  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }
}

.modal-overlay:not(.is-open) .modal {
  transform: translate(-50%, -100%);
}

.modal-close-btn {
  top: 24px;
  right: 24px;
  position: absolute;
  background-color: var(--accent);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  border-radius: 50%;
  /* align-self: end; */
  width: 24px;
  height: 24px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:active,
.modal-close-btn:focus {
  border: none;
  background-color: var(--pressed-state);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:active .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: white;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-caption {
  color: var(--dark);
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-form-container {
  margin-bottom: 8px;
}

/*some shit here*/
.modal-form-label {
  width: 100%;
  display: block;
  flex-direction: column;
  color: var(--secondary-text-color);
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.mb-bigger {
  margin-bottom: 16px;
}

.modal-form-input-container {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  padding-left: 38px;
  font-size: 12px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input::placeholder {
  color: #2e2f4266;
}

.modal-form-input:active,
.modal-form-input:focus {
  border-color: var(--primary-brand);
}

.modal-form-input:active + .modal-form-input-icon,
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--primary-brand);
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--dark);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea {
  height: 120px;
  resize: none;
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:active,
.modal-form-textarea:focus {
  border-color: var(--primary-brand);
}

.modal-form-terms {
  margin-bottom: 24px;
  border: none;
  padding: 0;
}

.modal-form-checkmark {
  height: 16px;
  width: 16px;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked ~ .modal-form-terms-text .modal-form-checkmark {
  background-color: var(--pressed-state);
  border-color: var(--pressed-state);
  border: none;
  fill: #f4f4fd;
}

.modal-form-checkmark-icon {
  position: absolute;
  top: 4px;
  left: 3px;
}

.modal-form-terms-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  /* margin-left: 24px; */
  color: var(--secondary-text-color);
}

.modal-form-terms-link {
  color: var(--primary-brand);
  text-decoration: underline;
}

.modal-form-submit {
  align-self: center;
  /* margin-top: 24px; */
}

/*---mobile-menu---*/

.mobile-menu {
  position: fixed;
  top: 0;
  height: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
}

.mobile-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  background-color: #fdfdff;
  border-radius: 50%;
  border: 1px solid var(--accent);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-btn:hover,
.mobile-menu-btn:focus {
  fill: #ffffff;
  background-color: var(--accent);
}

.mobile-menu-nav {
  width: 100%;
  /* display: flex;
  /* justify-content: start; */
  align-items: start;
}

.mobile-menu-container {
  width: 100%;
  display: flex;
  /* justify-content: start; */
  align-items: start;
  gap: 40px;
}

.mobile-menu-nav-link {
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  color: var(--dark);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav-link:hover,
.mobile-menu-nav-link:focus {
  color: var(--pressed-state);
}

.active-mobile {
  color: var(--pressed-state);
}

.mobile-menu-address {
  width: 100%;
}

.mobile-menu-address-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
  width: 100%;
}

.mobile-menu-address-link {
  color: var(--dark);
  font-weight: 500;
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-address-link:hover,
.mobile-menu-address-link:focus {
  color: var(--primary-brand);
}

.mobile-menu-link-container {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-brand);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-link-container:hover,
.mobile-menu-link-container:focus {
  background-color: var(--pressed-state);
}

.mobile-menu-links {
  width: 100%;
  display: flex;
  gap: 40px;
}

.mobile-menu-link {
  display: block;
  width: 24px;
  height: 24px;
}
