:root {
  --primary-brand: #4d5ae5; /*focus, active*/
  --pressed-state: #404bbf; /*hover?*/
  --dark: #2e2f42; /*shadows, heading, hero bg*/
  --success: #31d0aa; /*valid, hover on icons*/
  --main-text-color: #434455; /*headers*/
  --secondary-text-color: #8e8f99; /*subtle text*/
  --accent: #e7e9fc; /*bg on cards or border*/
  --accent-bg-color: #f4f4fd; /*another bg color*/
  --modal-overlay: #abacb3; /*unused?*/
  --hero-img--bg: #6d6e7b; /*unused*/
  --white: #fff;
  --modal-bg: #fcfcfc; /*unused*/
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
  line-height: 1.5;
  background-color: var(--white);
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid var(--accent);
}

.header .container {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav,
.address {
  display: flex;
}

.nav {
  gap: 3em;
}

.nav-container,
.address-container {
  display: flex;
  gap: 2em;
}

.header-logo,
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--primary-brand);
}

.header-logo .span {
  color: var(--dark);
}
.footer-logo .span {
  color: var(--accent-bg-color);
}

.nav-link {
  font-weight: 500;
  color: var(--dark);
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state);
}

.address {
  font-style: normal;
}

.address-link {
  color: var(--main-text-color);
  letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
  color: var(--pressed-state);
}

.hero {
  background-color: var(--dark);
}

.hero-header {
  color: var(--white);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.hero-btn {
  background-color: var(--primary-brand);
  color: var(--white);
  font-weight: 500;
  vertical-align: middle;
  text-transform: capitalize;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-state);
}

.values-header,
.team-member-name,
.portfolio-card-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}

.team-header,
.portfolio-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark);
  letter-spacing: 0.02em;
}

.team {
  background-color: var(--accent-bg-color);
}

.team-member-card {
  background-color: var(--white);
}

.footer {
  background-color: var(--dark);
}

.footer-text {
  color: var(--accent-bg-color);
}
